.page{
    display: flex;
height: 100vh;
width: 100vw;
background-color: black;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    height: 100vh;
    gap: 10px;
}

.card1{
    
    height: 561px;
    width: 892px;
    background-color: #5746EA;
    border-radius: 50px;
    display: flex;
    margin: 50px 50px 10px 50px ;
}
.card1 img{
    margin: 20px;
height: 390px;
}

.info{
    display: flex;
    flex-direction: column;
    margin: 20px 30px ;
    gap: 20px;
}
.userInfo{
    color: white;
}
.userInfo h1{
    font-size: 50px;
    line-height: .5;
}
.userInfo h3{
  font-weight: 400;
    line-height: .5;
    font-size: 30px;
}

.selected{
    position: relative;
    right: 2%;
    display: grid;
    grid-template-columns: repeat(2,2fr);
   row-gap: 20px;
    width: 380px;
    height: 20px;
    margin-top: 20px;

   
}
.selects{
    display: flex;
    font-size: 26px;
    justify-content:space-around;
    align-items: center;
    color: white;
    height: 48px;
    width: 170px;
    background-color: #9F94FF;
    border-radius: 25px;
    font-weight: 500;
}
.card2{
    display: flex;
    flex-direction: column;
     height: 311px;
     width: 892px;
     background-color: #101744;
     border-radius: 50px;
     display: flex;
     overflow: hidden;
     margin: 0px 50px 50px 50px;
 }
 
.dateTime{
    color: white;
    font-size: 22px;
    display: flex;
  height: 30%;
    width: 100%;
    background-color:#FF4ADE;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}



.weatherData{
  height: 70%;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.condition{
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 15px;
    margin: 18px 0px 10px 0px;
}
.condition h2{
    margin: 0;
    margin-left: 5px;
    font-size: 28px;
 }
.condition img{
    height: 80%;
    margin: -20px;
}
.temp{
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 10px;
    margin: 20px 0px 10px 0px;
}
.temp h4{
    margin: 0;
   font-size: 18px;
}
.temp h2{
    margin: 0;
    font-size: 45px;
}

.wind{
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 10px;
    margin: 25px 0px 10px 0px;
}
    
.wind h4{
    margin: 0;
   font-size: 18px;
}
.wind h2{
    margin: 0;
    font-size: 18px;
}
.humid1{
    display: flex;
    gap: 20px;
}
.wind1{
    display: flex;
    gap: 10px;
}
.wind1 img{
    height: 40px;
}
.humid1 img{
    height: 30px;
}
.temp1{
    display: flex;
    gap: 20px;
}
.temp1 img{
    height: 40px;
}

.verticalLine {
    width: 3px;
    height: 100px; /* Adjust height as needed */
    background-color: white; /* Adjust color as needed */
    margin: 30px -90px; /* Adjust margin as needed */
  }
  .right{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.news
{

    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    height: 80%;
    width: 70%;
    background-color: aliceblue;
}
.upper{
    display: relative;
    height: 60%;
}
.news img{
     height: 100%; 
    width: auto; /* Maintain aspect ratio */
    display: block;

}
.para{
   
    display: flex;
    font-size: 18px;
    align-items: center;
    width: 100%;
    box-sizing: border-box; 
    text-align: justify;
    padding: 30px;
    height: auto;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.8);
    height: 20%;
    width: 100%;
    position: absolute; 
    top: 50%; /* Position text in the center vertically */
    left: 50%; /* Position text in the center horizontally */
    transform: translate(-50%, -50%);
    color: white; /* Text color */
    font-size: 10px; /* Text size */
    font-weight: bold; /* Text weight */
    text-align: left; 
    padding-left: 20px;  
    max-width: calc(100% - 20px);
    overflow: hidden;
   text-overflow: ellipsis;
}
.overlay h3{
    font-size: 18px;
}
